<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome to Daibetic Patient Prediction</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Daibetic Patient Prediction</h2>
  <h3>This dataset is originally from the National Institute of Diabetes and Digestive and Kidney Diseases. The objective is to predict based on diagnostic measurements whether a patient has diabetes.</h3>
  <h3>All patients here are females at least 21 years old of Pima Indian heritage.</h3>
  <h3>The goal : The goal is to predict whether a person is diabetic or not</h3>
    <div class="alert alert-info">
   <strong> There are 7 independent input variables:</strong><br>
   'Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
   'BMI', 'DiabetesPedigreeFunction', 'Age'
    <br><strong> 'Pregnancies':</strong>Number of times pregnant.
    <br><strong> 'Glucose' : </strong>Plasma glucose concentration a 2 hours in an oral glucose tolerance test .
    <br><strong> 'BloodPressure' : </strong>Diastolic blood pressure (mm Hg) .
    <br><strong> 'SkinThickness' : </strong>Triceps skin fold thickness (mm) .
    <br><strong> 'Insulin' : </strong>2-Hour serum insulin (mu U/ml) .
    <br><strong> 'BMI' :</strong> Body mass index (weight in kg/(height in m)^2).
    <br><strong> 'DiabetesPedigreeFunction' : </strong>Diabetes pedigree function.
    <br><strong> 'Age' :</strong> Age (years) 
    
  </div>
  <div class="alert alert-warning">
   <strong>Target variable:</strong> 
 <br><strong>Outcome:</strong> Daibetic or non daibetic.
  </div>
  <div class="alert alert-danger">
    <a href="{{url_for('predict_datapoint')}}" class="btn success">Predict Variable</a>
  </div>
</div>

</body>
</html>
