<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome to Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Project Name</h2>
  <h3>The goal :</h3>
    <div class="alert alert-info">
   <strong> There are X independent variables:</strong><br>
    


<!-- <br><strong> `carat` : Carat (ct.)</strong>strong refers to the unique unit of weight measurement used exclusively to weigh gemstones and diamonds.
<br><strong> `cut` : </strong>Quality of Diamond Cut
<br><strong> `color` : </strong>Color of Diamond
<br><strong> `clarity` : </strong>Diamond clarity is a measure of the purity and rarity of the stone, graded by the visibility of these characteristics under 10-power magnification.
<br><strong> `depth` : </strong>The depth of diamond is its height (in millimeters) measured from the culet (bottom tip) to the table (flat, top surface)
<br><strong> `table` :</strong> A diamond's table is the facet which can be seen when the stone is viewed face up.
<br><strong> `x` : </strong>Diamond X dimension
<br><strong> `y` :</strong> Diamond Y dimension
<br><strong> `z` :</strong> Diamond Z dimension -->
  </div>
  <div class="alert alert-warning">
   <strong>Target variable:</strong> 
 <br><strong>Variable:</strong> Variable description.
  </div>
  <div class="alert alert-danger">
    <a href="{{url_for('predict_datapoint')}}" class="btn btn success">Predict Variable</a>
  </div>
</div>

</body>
</html>
